@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Global Rules */

*,*::before,*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: normal;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Lato', sans-serif;
}

body{
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(to right, #00AAFF,#00FF6c);
    color: white; 
}

 .calculator-grid{
     display: grid;
     justify-content: center;
     align-content: center;
     min-height: 100vh;
     grid-template-columns: repeat(4,100px);
     grid-template-rows: minmax(120px,auto) repeat(5,100px);
 }

 .calculator-grid > button {
     cursor: pointer;
     font-size: 2rem;
     border: 1px solid white;
     outline: none;
     background-color: rgba(255, 255, 255, .75);
      
 }

 .calculator-grid > button:hover{
    background-color: rgba(255, 255, 255, .9);

 }

 .span-two{
     grid-column: span 2;
 }

 .output{
     grid-column: 1/-1 ;
     background-color: rgba(0, 0, 0, .75);
     display: flex;
     align-items: flex-end;
     justify-content: space-around;
     flex-direction: column;
     padding: 10px;
     word-wrap: break-word;
     word-wrap: break-all;
 }

 .output .previous-operand{
     color: rgba(255, 255, 255, .75);
     font-size: 1.5rem;
 }

 .output .current-operand{
    color: white;
    font-size: 2.5rem;
}